<a href="https://colab.research.google.com/github/coderanandmaurya/MCAML/blob/main/Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable Declaration

In [127]:
var1 = 2 
var2 = 5.0 
var3 = True
var4 = "Machine Learning" 
print("Value of var1 :", var1) 
print(type(var1)) 
print("Value of var2 :", var2) 
print(type(var2)) 
print("Value of var3 :", var3) 
print(type(var3)) 
print("Value of var4 :", var4) 
print(type(var4))

Value of var1 : 2
<class 'int'>
Value of var2 : 5.0
<class 'float'>
Value of var3 : True
<class 'bool'>
Value of var4 : Machine Learning
<class 'str'>

# Conditional Statements

In [128]:
# Checking a condition if the variable value is more than 1 
if var1 > 1: 
 print( "Bigger than 1" )

Bigger than 1

In [129]:
x = 10 
y = 12 
# if x is greater than y 
if x > y: 
 print ("x > y") 
# if x is lesser than y 
elif x < y: 
 print ("x < y") 
else: 
 print ("x = y")

x < y

In [130]:
# Initialize 
x = 5 
# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False

# Generating Sequence Numbers

In [131]:
#range : 
# Initializing the sequence of numbers starting from 1 
# and ending (not including) with 6 
numbers = range( 1, 6 ) 
numbers

range(1, 6)

# Control Flow Statements

In [132]:
# Iterate through the collection 
for i in numbers: 
 print (i)

1
2
3
4
5

In [133]:
# Initialize the value of 1 
i = 1 
# check the value of i to check if the loop will be continued or not
while i < 5: 
 print(i) 
 # Increment the value of i. 
 i = i+1 
# print after the value of i 
print('Done')

1
2
3
4
Done

# Functions

In [134]:
def addElements( a, b ): 
 return a + b

In [135]:
result = addElements( 2, 3 ) 
result

5

# Working with Collections

## LIST

In [136]:
## Create an empty list 
emptyList = []

In [137]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [138]:
#Indexing
print(batsmen[0])
print(batsmen[-1])
#slicing
print(batsmen[0:3])
#length
print(len(batsmen))
#Reverse
batsmen.reverse()

Rohit
Dhoni
['Rohit', 'Dhawan', 'Kohli']
6

In [139]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [140]:
'Bumrah' in bowlers

True

In [141]:
all_players = batsmen + bowlers 
all_players

['Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

# Tuple

In [142]:
odiDebut = ( 'Kohli', 2008 )

In [143]:
odiDebut

('Kohli', 2008)

In [144]:
odiDebut[0]

'Kohli'

In [145]:
#tup1[1] = 2009

In [146]:
all_players=(*all_players,)
print(type(all_players))

<class 'tuple'>

## SET

In [147]:
set_of_numbr=[1,2,3,4,5,6,7,8]
print(set)

<class 'set'>

In [148]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj", "Yusuf"} 
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jadeja"}

In [149]:
wc2011.union( wc2015 )

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [150]:
wc2011.intersection( wc2015 )

{'Dhoni', 'Kohli', 'Raina'}

In [151]:
wc2015.difference( wc2011 )

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

# Dictionary

In [152]:
wcWinners = { 1975: "West Indies", 
1979: "West Indies", 
1983: "India", 
1987: "Australia", 
1991: "Pakistan", 
1996: "Srilanka", 
1999: "Australia", 
2003: "Australia", 
2007: "Australia", 
2011: "India"}

In [153]:
wcWinners[1983]

'India'

In [154]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

In [155]:
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [156]:
wcWinners[2015] = 'India' 
wcWinners[2015]

'India'

# Dealing with Strings

In [157]:
string0 = 'python' 
string1 = "machine learning"

In [158]:
string2 = """This is a 
multiline string"""

In [159]:
# Converting to upper case 
string0.upper() 
# Similarly string.lower() can be used to convert to lower case.
# string0.lower()
tokens = string1.split(' ') 
tokens

['machine', 'learning']

# Functional Programming

Map

In [160]:
intList = [1,2,3,4,5,6,7,8,9] 
# Create an empty list. 
squareList = [] 
# Loop through the intList, square every item and append to result list squareLi
for i in intList :
  j=i*i
  squareList.append(j)
print(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [161]:
def square_me( x ): 
 return x * x

In [162]:
squareList = map( square_me, intList) 
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [163]:
squareList = map(lambda x: x*x, intList) 
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Filter

In [164]:
evenInts = filter( lambda x : x % 2 == 0, intList ) 
list(evenInts)

[2, 4, 6, 8]

# Modules and Packages

In [165]:
import math
## Taking square root of a value 
math.sqrt(3)

1.7320508075688772

In [166]:
from random import sample 
sample(range(0,13),3)

[2, 3, 1]

In [167]:
import random 
randomList = random.sample( range(0, 100), 20) 
randomList

[81, 0, 97, 33, 6, 8, 49, 5, 16, 71, 20, 50, 64, 2, 37, 11, 9, 58, 69, 89]

In [168]:
from statistics import mean, median 
def getMeanAndMedian( listNum ): 
 return mean(listNum), median(listNum)

In [169]:
mean, median = getMeanAndMedian( randomList ) 
print( "Mean: ", mean, " Median: ", median)

Mean:  38.75  Median:  35.0