<a href="https://colab.research.google.com/github/coderanandmaurya/MCAML/blob/main/Simple_Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

## **Reading the Data**

In [29]:
data = pd.read_csv('http://bit.ly/w-data')
data.head(3)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27

## **Training the Model**

In [30]:
# Separate the independent attributes and store them in X array
X = data.iloc[:, :-1].values  

# Store the target column into Y array
y = data.iloc[:, 1].values

## **Splitting the Data**

In [31]:
from sklearn.model_selection import train_test_split
train_X, test_x, train_y, test_y = train_test_split(X, y, random_state = 0,test_size=0.2,)

## **Fitting the Data into the model**

In [32]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()
regression.fit(train_X, train_y)

LinearRegression()

## **Accuracy of Model**

In [33]:
from sklearn import metrics
model_score = regression.score(test_x, test_y)
print(model_score)

0.9454906892105354

In [34]:
pred_y = regression.predict(test_x)
pred_y

array([16.88414476, 33.73226078, 75.357018  , 26.79480124, 60.49103328])

In [35]:
compare_scores = pd.DataFrame({'Actual Marks': test_y, 'Predicted Marks': pred_y})
compare_scores

   Actual Marks  Predicted Marks
0            20        16.884145
1            27        33.732261
2            69        75.357018
3            30        26.794801
4            62        60.491033

## **RMSE**

In [36]:
from sklearn.metrics import mean_squared_error
import math
MSE = mean_squared_error(test_y,pred_y)
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error: ",RMSE)

Root Mean Square Error:  4.647447612100373